.neighborhood__finder {
  position: fixed;
  left: 0;
  z-index: -1;
  width: 100%;
  max-width: 425px;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  box-shadow: 0 4px 48px rgba(0,0,0,0.1);
  background-color: #fff;
  transform: translateX(-100%);
  transition: 0.5s;
}
