.neighborhood__list__item {
  background-color: #fff;
  transition: all 0.35s ease;
}

.neighborhood__list__item:focus,
.neighborhood__list__item:hover {
  background-color: #f7f7f7;
}


.venue {
  padding: 0.5em 1em;
  display: flex;
}

.venue__name {
  font-size: 1em;
  font-weight: 500;
}

.venue__address {
  font-size: 0.75em;
  color: #676767;
}

.venue__desc {
  width: calc(100% - 48px);
}
.venue__directions {
  padding: 0 8px 0;
}
.venue__icon {
  width: 48px;
  height: 48px;
  background-image: url(../../icons/room.svg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 24px;
}